<div class="row">
<div class="col-md-12">
  <div class="panel panel-info">
    <div class="panel-heading">Find Subject</div>
    <div class="panel-body clearfix">
      <%= form_for :search, url: search_workflow_subjects_path(@workflow) do |form| %>
        <p><strong>Id</strong></p>
        <%= form.text_field :id, class: 'form-control', placeholder: 'Subject id to search for' %>
        <br />
        <%= form.submit 'Search', class: 'btn btn-primary pull-right'  %>
      <% end  %>
    </div>
  </div>
</div>
</div>