<div class="row">
  <div class="col-md-12">
    <h2>Subject <%= @subject.id %></h2>
    <br />
    <p>Subject with id <%= @subject.id %> not found</p>
    <br />
    <%= link_to 'Back', workflow_path(@workflow, anchor: 'subjects'), class: 'btn btn-primary' %>
  </div>
</div>