<div class="row">
  <div class="col-md-4">
    <% if @subject.thumbnail %>
      <%= image_tag @subject.thumbnail, class: "img-responsive" %>
    <% end %>
  </div>

  <div class="col-md-8">
    <%= render partial: 'extracts' %>
    <%= render partial: 'reductions' %>
    <%= render partial: 'actions' %>
  </div>
</div>
