apiVersion: batch/v1
kind: Job
metadata:
  name: __JOB_NAME__
spec:
  backoffLimit: 1
  template:
    spec:
      restartPolicy: Never
      containers:
      - name: caesar-db-migrate-production
        image: ghcr.io/zooniverse/caesar:__IMAGE_TAG__
        command: ["bundle",  "exec", "rails", "db:migrate"]
        env:
        - name: PG_STATEMENT_TIMEOUT
          value: '0'
        - name: RAILS_ENV
          value: production
        - name: PORT
          value: "81"
        - name: RAILS_SERVE_STATIC_FILES
          value: 'true'
        - name: RAILS_MAX_THREADS
          value: '4'
        - name: REDIS_URL
          valueFrom:
            secretKeyRef:
              name: caesar-production-env-vars
              key: REDIS_URL
        - name: SECRET_KEY_BASE
          valueFrom:
            secretKeyRef:
              name: caesar-production-env-vars
              key: SECRET_KEY_BASE
        - name: DATABASE_URL
          valueFrom:
            secretKeyRef:
              name: caesar-production-env-vars
              key: DATABASE_URL
        - name: AWS_REGION
          value: us-east-1
        - name: AWS_ACCESS_KEY_ID
          valueFrom:
            secretKeyRef:
              name: caesar-production-env-vars
              key: AWS_ACCESS_KEY_ID
        - name: AWS_SECRET_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: caesar-production-env-vars
              key: AWS_SECRET_ACCESS_KEY
        - name: NEW_RELIC_APP_NAME
          value: Caesar
        - name: NEW_RELIC_MONITOR_MODE
          value: 'true'
        - name: NEW_RELIC_LICENSE_KEY
          valueFrom:
            secretKeyRef:
              name: caesar-production-env-vars
              key: NEW_RELIC_LICENSE_KEY
        - name: PANOPTES_URL
          value: https://panoptes.zooniverse.org
        - name: PANOPTES_CLIENT_ID
          valueFrom:
            secretKeyRef:
              name: caesar-production-env-vars
              key: PANOPTES_CLIENT_ID
        - name: PANOPTES_CLIENT_SECRET
          valueFrom:
            secretKeyRef:
              name: caesar-production-env-vars
              key: PANOPTES_CLIENT_SECRET
        - name: SENTRY_DSN
          valueFrom:
            secretKeyRef:
              name: caesar-production-env-vars
              key: SENTRY_DSN
        - name: SIDEKIQ_CONCURRENCY
          value: '10'
        - name: SIDEKIQ_WEB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: caesar-production-env-vars
              key: SIDEKIQ_WEB_PASSWORD
        - name: SIDEKIQ_WEB_USERNAME
          valueFrom:
            secretKeyRef:
              name: caesar-production-env-vars
              key: SIDEKIQ_WEB_USERNAME
        - name: KINESIS_STREAM_USERNAME
          valueFrom:
            secretKeyRef:
              name: caesar-production-env-vars
              key: KINESIS_STREAM_USERNAME
        - name: KINESIS_STREAM_PASSWORD
          valueFrom:
            secretKeyRef:
              name: caesar-production-env-vars
              key: KINESIS_STREAM_PASSWORD
