apiVersion: v1
data:
  nginx.conf: |+
    upstream docker-caesar {
      server localhost:81;
    }

    server {
      server_name caesar.zooniverse.org caesar-staging.zooniverse.org
      include /etc/nginx/ssl.default.conf;
      gzip_types *;

      location = /commit_id.txt {
        root /static-assets/;
        expires off;
        add_header 'Access-Control-Allow-Origin' '*';
        add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS, HEAD';
        add_header 'Access-Control-Allow-Credentials' 'true';
      }

      location ~ ^/assets/ {
        root /static-assets/;
        gzip_static on; # to serve pre-gzipped version
        expires max;
        add_header Cache-Control public;
      }

      location = /favicon.ico {
        root /static-assets/;
        expires max;
        add_header Cache-Control public;
      }

      location = /robots.txt {
        root /static-assets/;
        expires max;
        add_header Cache-Control public;
      }

      location / {
        proxy_pass http://docker-caesar;
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto https;
        proxy_buffer_size   128k;
        proxy_buffers   4 256k;
        proxy_busy_buffers_size   256k;
      }
    }
kind: ConfigMap
metadata:
  creationTimestamp: null
  name: caesar-nginx-conf-production
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: caesar-production-app
  labels:
    app: caesar-production-app
spec:
  selector:
    matchLabels:
      app: caesar-production-app
  template:
    metadata:
      labels:
        app: caesar-production-app
    spec:
      containers:
        - name: caesar-production-app
          image: zooniverse/caesar:__IMAGE_TAG__
          resources:
            requests:
              memory: "500Mi"
              cpu: "100m"
            limits:
              memory: "500Mi"
              cpu: "500m"
          livenessProbe:
            httpGet:
              path: /
              port: 81
              httpHeaders:
                 - name: X-Forwarded-Proto
                   value: https
            initialDelaySeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: 81
              httpHeaders:
                 - name: X-Forwarded-Proto
                   value: https
            initialDelaySeconds: 10
          env:
            - name: RAILS_ENV
              value: production
            - name: PORT
              value: "81"
            - name: RAILS_SERVE_STATIC_FILES
              value: 'true'
            - name: RAILS_MAX_THREADS
              value: '2'
            - name: REDIS_URL
              valueFrom:
                secretKeyRef:
                  name: caesar-production-env-vars
                  key: REDIS_URL
            - name: SECRET_KEY_BASE
              valueFrom:
                secretKeyRef:
                  name: caesar-production-env-vars
                  key: SECRET_KEY_BASE
            - name: DATABASE_POOL_SIZE
              value: '11'
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: caesar-production-env-vars
                  key: DATABASE_URL
            - name: AWS_REGION
              value: us-east-1
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: caesar-production-env-vars
                  key: AWS_ACCESS_KEY_ID
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: caesar-production-env-vars
                  key: AWS_SECRET_ACCESS_KEY
            - name: NEW_RELIC_APP_NAME
              value: Caesar
            - name: NEW_RELIC_MONITOR_MODE
              value: 'true'
            - name: NEW_RELIC_LICENSE_KEY
              valueFrom:
                secretKeyRef:
                  name: caesar-production-env-vars
                  key: NEW_RELIC_LICENSE_KEY
            - name: PANOPTES_URL
              value: https://panoptes.zooniverse.org
            - name: PANOPTES_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: caesar-production-env-vars
                  key: PANOPTES_CLIENT_ID
            - name: PANOPTES_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: caesar-production-env-vars
                  key: PANOPTES_CLIENT_SECRET
            - name: SENTRY_DSN
              valueFrom:
                secretKeyRef:
                  name: caesar-production-env-vars
                  key: SENTRY_DSN
            - name: SIDEKIQ_CONCURRENCY
              value: '10'
            - name: SIDEKIQ_WEB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: caesar-production-env-vars
                  key: SIDEKIQ_WEB_PASSWORD
            - name: SIDEKIQ_WEB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: caesar-production-env-vars
                  key: SIDEKIQ_WEB_USERNAME
            - name: KINESIS_STREAM_USERNAME
              valueFrom:
                secretKeyRef:
                  name: caesar-production-env-vars
                  key: KINESIS_STREAM_USERNAME
            - name: KINESIS_STREAM_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: caesar-production-env-vars
                  key: KINESIS_STREAM_PASSWORD
          volumeMounts:
            - name: static-assets
              mountPath: "/static-assets"
          lifecycle:
            postStart:
              exec:
                command: ["/bin/bash", "-c", "cp -R /app/public/* /static-assets"]
        - name: caesar-production-nginx
          image: zooniverse/apps-nginx:xenial
          ports:
            - containerPort: 80
          resources:
            requests:
              memory: "100Mi"
              cpu: "10m"
            limits:
              memory: "100Mi"
              cpu: "500m"
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 10
          volumeMounts:
            - name: static-assets
              mountPath: "/static-assets"
            - name: caesar-nginx-config
              mountPath: "/etc/nginx-sites"
      volumes:
        - name: static-assets
          hostPath:
            # directory location on host node temp disk
            path: /mnt/caesar-production-app-static-assets
            type: DirectoryOrCreate
        - name: caesar-nginx-config
          configMap:
            name: caesar-nginx-conf-production
---
apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: caesar-production-app
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: caesar-production-app
  minReplicas: 2
  maxReplicas: 4
  targetCPUUtilizationPercentage: 80
---
apiVersion: policy/v1beta1
kind: PodDisruptionBudget
metadata:
   name: caesar-production-app-pdb
spec:
  minAvailable: 50%
  selector:
    matchLabels:
      app: caesar-production-app
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: caesar-production-sidekiq
  labels:
    app: caesar-production-sidekiq
spec:
  selector:
    matchLabels:
      app: caesar-production-sidekiq
  template:
    metadata:
      labels:
        app: caesar-production-sidekiq
    spec:
      containers:
        - name: caesar-production-sidekiq
          image: zooniverse/caesar:__IMAGE_TAG__
          resources:
            requests:
              memory: "750Mi"
              cpu: "200m"
            limits:
              memory: "750Mi"
              cpu: "500m"
          args: ["/app/docker/start-sidekiq.sh"]
          env:
            - name: RAILS_ENV
              value: production
            - name: RAILS_SERVE_STATIC_FILES
              value: 'true'
            - name: RAILS_MAX_THREADS
              value: '2'
            - name: REDIS_URL
              valueFrom:
                secretKeyRef:
                  name: caesar-production-env-vars
                  key: REDIS_URL
            - name: SECRET_KEY_BASE
              valueFrom:
                secretKeyRef:
                  name: caesar-production-env-vars
                  key: SECRET_KEY_BASE
            - name: DATABASE_POOL_SIZE
              value: '11'
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: caesar-production-env-vars
                  key: DATABASE_URL
            - name: AWS_REGION
              value: us-east-1
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: caesar-production-env-vars
                  key: AWS_ACCESS_KEY_ID
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: caesar-production-env-vars
                  key: AWS_SECRET_ACCESS_KEY
            - name: NEW_RELIC_APP_NAME
              value: Caesar
            - name: NEW_RELIC_MONITOR_MODE
              value: 'true'
            - name: NEW_RELIC_LICENSE_KEY
              valueFrom:
                secretKeyRef:
                  name: caesar-production-env-vars
                  key: NEW_RELIC_LICENSE_KEY
            - name: PANOPTES_URL
              value: https://panoptes.zooniverse.org
            - name: PANOPTES_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: caesar-production-env-vars
                  key: PANOPTES_CLIENT_ID
            - name: PANOPTES_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: caesar-production-env-vars
                  key: PANOPTES_CLIENT_SECRET
            - name: SENTRY_DSN
              valueFrom:
                secretKeyRef:
                  name: caesar-production-env-vars
                  key: SENTRY_DSN
            - name: SIDEKIQ_CONCURRENCY
              value: '10'
            - name: SIDEKIQ_WEB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: caesar-production-env-vars
                  key: SIDEKIQ_WEB_PASSWORD
            - name: SIDEKIQ_WEB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: caesar-production-env-vars
                  key: SIDEKIQ_WEB_USERNAME
---
apiVersion: policy/v1beta1
kind: PodDisruptionBudget
metadata:
   name: caesar-production-sidekiq-pdb
spec:
  minAvailable: 50%
  selector:
    matchLabels:
      app: caesar-production-sidekiq
---
apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: caesar-production-sidekiq
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: caesar-production-sidekiq
  minReplicas: 1
  maxReplicas: 4
  targetCPUUtilizationPercentage: 80
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: caesar-production-tess-sidekiq
  labels:
    app: caesar-production-tess-sidekiq
spec:
  selector:
    matchLabels:
      app: caesar-production-tess-sidekiq
  template:
    metadata:
      labels:
        app: caesar-production-tess-sidekiq
    spec:
      containers:
        - name: caesar-production-tess-sidekiq
          image: zooniverse/caesar:__IMAGE_TAG__
          resources:
            requests:
              memory: "2500Mi"
              cpu: "200m"
            limits:
              memory: "2500Mi"
              cpu: "1000m"
          args: ["/app/docker/start-sidekiq.sh"]
          env:
            - name: RAILS_ENV
              value: production
            - name: RAILS_SERVE_STATIC_FILES
              value: 'true'
            - name: RAILS_MAX_THREADS
              value: '2'
            - name: REDIS_URL
              valueFrom:
                secretKeyRef:
                  name: caesar-production-env-vars
                  key: REDIS_URL
            - name: SECRET_KEY_BASE
              valueFrom:
                secretKeyRef:
                  name: caesar-production-env-vars
                  key: SECRET_KEY_BASE
            - name: DATABASE_POOL_SIZE
              value: '11'
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: caesar-production-env-vars
                  key: DATABASE_URL
            - name: AWS_REGION
              value: us-east-1
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: caesar-production-env-vars
                  key: AWS_ACCESS_KEY_ID
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: caesar-production-env-vars
                  key: AWS_SECRET_ACCESS_KEY
            - name: NEW_RELIC_APP_NAME
              value: Caesar
            - name: NEW_RELIC_MONITOR_MODE
              value: 'true'
            - name: NEW_RELIC_LICENSE_KEY
              valueFrom:
                secretKeyRef:
                  name: caesar-production-env-vars
                  key: NEW_RELIC_LICENSE_KEY
            - name: PANOPTES_URL
              value: https://panoptes.zooniverse.org
            - name: PANOPTES_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: caesar-production-env-vars
                  key: PANOPTES_CLIENT_ID
            - name: PANOPTES_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: caesar-production-env-vars
                  key: PANOPTES_CLIENT_SECRET
            - name: SENTRY_DSN
              valueFrom:
                secretKeyRef:
                  name: caesar-production-env-vars
                  key: SENTRY_DSN
            - name: SIDEKIQ_ARGS
              value: '-q tess -q internal -q default -q external -q batch'
            - name: SIDEKIQ_CONCURRENCY
              value: '1'
            - name: SIDEKIQ_WEB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: caesar-production-env-vars
                  key: SIDEKIQ_WEB_PASSWORD
            - name: SIDEKIQ_WEB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: caesar-production-env-vars
                  key: SIDEKIQ_WEB_USERNAME
---
apiVersion: policy/v1beta1
kind: PodDisruptionBudget
metadata:
   name: caesar-production-sidekiq-tess-pdb
spec:
  minAvailable: 50%
  selector:
    matchLabels:
      app: caesar-production-sidekiq-tess

---
apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: caesar-production-sidekiq-tess
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: caesar-production-tess-sidekiq
  minReplicas: 1
  maxReplicas: 2
  targetCPUUtilizationPercentage: 80
---
apiVersion: v1
kind: Service
metadata:
  name: caesar-production-app
spec:
  selector:
    app: caesar-production-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: NodePort
