/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";

$navbar-default-bg: black;
$navbar-default-color: #cbcccb;

@import "bootstrap";

.container-fluid {
  margin-top: 1em;
}

nav {
  font-family: "Open Sans", "Gill Sans", "Arial", "sans-serif";
  letter-spacing: 0.20em;
  font-size: 11.25px;
  text-transform: uppercase;
}

thead {
  background-color: #007482;
  color: white;
}


table.condition td {
  vertical-align: top;
  border: 1px solid black;
  padding: 5px;
}


.data-request-failed { background-color: #AA3E39; color: white; }
.data-request-processing { background-color: #D3E08D; }
.data-request-complete { background-color: #7C9208; }
